<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/classes.css">
</head>
<body>
    <header class="links">
        <div>
            <a href="index.html" target="_blank">About</a>
            <a href="classes.html" target="_blank">Class</a>
        </div>
    </header>
    
    <div id="wrapper">
        <h1>Classes</h1>
    </div>

    <section class="cards">

        <div class="card" id="o43EOw_comk">
            <div class="card__image-container">
            <img src="https://i.ytimg.com/an_webp/o43EOw_comk/mqdefault_6s.webp?du=3000&sqp=CK_f1_gF&rs=AOn4CLCdzlz9ZaAfG2VBcKIeJXQr5hSl0g" alt="Baby Yoda Video">         
            </div>

            <div class="card__content">
                <p>Top 10 Baby Yoda Moments</p>
            </div>

            <div class="card__info">
                <p>Time 10:02</p>
                 <p class="card__observation">OBS: baby yoda observation</p>
            </div>
        </div>

        <div class="card" id="3Xl0Qr0uXuY">
            <div class="card__image-container">
            <img src="https://i.ytimg.com/an_webp/3Xl0Qr0uXuY/mqdefault_6s.webp?du=3000&sqp=CPrz1_gF&rs=AOn4CLDHzfd_QvpU1_mHYYGgymKuygpk_Q" alt="Baby Yoda Video">         
            </div>

            <div class="card__content">
                <p>"MY STICK!" - A Bad Lip Reading of The Last Jedi</p>
            </div>

            <div class="card__info">
                <p>Time 04:24</p>
                 <p class="card__observation">OBS: Yoda lectures Luke on the merits of his beloved stick. "MY STICK!"</p>
            </div>
        </div>

        <div class="card" id="BgAHDSyxDHg">
            <div class="card__image-container">
            <img src="https://i.ytimg.com/an_webp/BgAHDSyxDHg/mqdefault_6s.webp?du=3000&sqp=CIjR1_gF&rs=AOn4CLBfjmVVLZz_k5n1qf708niFiyk_Sw" alt="Baby Yoda Video">         
            </div>

            <div class="card__content">
                <p>Boris Brejcha & Worakls @ Art of Minimal Techno - Baby Yoda by...</p>
            </div>

            <div class="card__info">
                <p>Time 58:35</p>
                 <p class="card__observation">OBS: Minimal Techno - Baby Yoda</p>
            </div>
        </div>

        <div class="card" id="IXNYkZemROg">
            <div class="card__image-container">
            <img src="https://i.ytimg.com/an_webp/IXNYkZemROg/mqdefault_6s.webp?du=3000&sqp=CMDz1_gF&rs=AOn4CLDNUDwrE3o4KHvi0vBnjXFjZl11UQ" alt="Baby Yoda Video">         
            </div>

            <div class="card__content">
                <p>Baby Yoda Radio - %0 Cent - In Da Club</p>
            </div>

            <div class="card__info">
                <p>Time 0:29</p>
                 <p class="card__observation">OBS: Baby Yoda Radio</p>
            </div>
        </div>

        <div class="card" id="gZ93V_igqPQ">
            <div class="card__image-container">
            <img src="https://i.ytimg.com/an_webp/gZ93V_igqPQ/mqdefault_6s.webp?du=3000&sqp=CPSL2PgF&rs=AOn4CLDWlCGQ6bxkY6CZp5o3Vsm12roYgw" alt="Baby Yoda Video">         
            </div>

            <div class="card__content">
                <p>Baby Yoda Baby Yoda (the original) | Song A Day #3974</p>
            </div>

            <div class="card__info">
                <p>Time 01:28</p>
                 <p class="card__observation">OBS: Baby Yoda Radio</p>
            </div>
        </div>

        <div class="card" id="kdLEPnnOeD4">
            <div class="card__image-container">
            <img src="https://i.ytimg.com/an_webp/kdLEPnnOeD4/mqdefault_6s.webp?du=3000&sqp=CMjR1_gF&rs=AOn4CLAJjZbV6G0bcO6g0WOYm2WZX-1ciw" alt="Baby Yoda Video">         
            </div>

            <div class="card__content">
                <p>Baby Yoda's Best Moments In The Mandalorian</p>
            </div>

            <div class="card__info">
                <p>Time 19:18</p>
                 <p class="card__observation">OBS: est Moments</p>
            </div>
        </div>


    </section>

    <div class="modal-overlay">
        <div class="modal">
            <a class="close-modal">
                <i class="material-icons">close</i>
            </a>
        </div>

        <div class="modal-content">
            <iframe src="" frameborder="0"></iframe>
        </div>
    </div>

    

    <script src="/scripts/video.js"></script>
</body>
</html>